In [7]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [11]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [12]:
fruits = pd.Series(fruits)

In [13]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

# Use Series attributes and methods to explore your fruits Series.

Determine the number of elements in fruits.

In [14]:
fruits.size

17

In [91]:
fruits.shape[0]

17

Output only the index from fruits.

In [19]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [92]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Output only the values from fruits

In [23]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

Confirm the data type of the values in fruits.

In [29]:
fruits.dtype

dtype('O')

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [31]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [32]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [34]:
fruits.sample(2)

1     mango
6    tomato
dtype: object

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [95]:
fruits.describe() #note using () or not

count       17
unique      13
top       kiwi
freq         4
dtype: object

Run the code necessary to produce only the unique string values from fruits.

In [96]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

Determine how many times each unique string value occurs in fruits.

In [41]:
fruits.value_counts()

kiwi                4
mango               2
pineapple           1
papaya              1
gala apple          1
blueberry           1
tomato              1
blackberry          1
honeycrisp apple    1
honeydew            1
gooseberry          1
strawberry          1
watermelon          1
dtype: int64

Determine the string value that occurs most frequently in fruits.

In [97]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [99]:
fruits.value_counts().idxmax()

'kiwi'

In [101]:
fruits.value_counts().nlargest(n=1, keep = 'all')

kiwi    4
dtype: int64

Determine the string value that occurs least frequently in fruits.

In [107]:
fruits.value_counts().nsmallest(n=1, keep = 'all')

pineapple           1
papaya              1
gala apple          1
blueberry           1
tomato              1
blackberry          1
honeycrisp apple    1
honeydew            1
gooseberry          1
strawberry          1
watermelon          1
dtype: int64

# Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

Capitalize all the string values in fruits.

In [108]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

Count the letter "a" in all the string values (use string vectorization).

In [114]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

Output the number of vowels in each and every string value.

In [226]:
def count_vowels(word):
    count = 0
    for l in word:
        if l in ('a','e','i','o','u'):
            count += 1
    return count
print(count_vowels('blue'))


#or list comp
#vowels = ['a','e','i','o','u']
#return len([char for char in string if char in vowels])

2

In [181]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [ ]:
#or  fruits.str.lower().str.count()'[aeiou]')

Write the code to get the longest string value from fruits.

In [184]:
def count_letters(word):
    count = 0
    for l in word:
        count += 1
    return count
count_letters('awkward')

7

In [199]:
fruits[fruits.apply(count_letters).idxmax()]

'honeycrisp apple'

In [227]:
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [228]:
fruits[fruits.str.len().idxmax()]

'honeycrisp apple'

Write the code to get the string values with 5 or more letters in the name.

In [207]:
fruits[fruits.apply(count_letters) >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [230]:
fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [212]:
def count_o(word):
    count = 0
    for l in word:
        if l == 'o':
            count += 1
    return count
count_o('kangaroos')

2

In [216]:
fruits[fruits.apply(lambda n: True if count_o(n) >= 2 else False)]

6         tomato
15    gooseberry
dtype: object

In [232]:
'other'.count('o') #as an ex

1

In [236]:
print(fruits[fruits.apply(lambda fruit: fruit.count('o') > 1)])
print(fruits[fruits.str.count('o') > 1])

6         tomato
15    gooseberry
dtype: object
6         tomato
15    gooseberry
dtype: object

Write the code to get only the string values containing the substring "berry".

In [223]:
fruits[fruits.str.find('berry') != -1]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [239]:
print(fruits[fruits.str.contains('berry')])
print(fruits[fruits.apply(lambda fruit: 'berry' in fruit)])

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object
2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

Write the code to get only the string values containing the substring "apple".

In [224]:
fruits[fruits.str.find('apple') != -1]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

Which string value contains the most vowels?

In [240]:
fruits[fruits.apply(count_vowels).max()]

'honeycrisp apple'

# Exercises Part III

### Use pandas to create a Series named letters from the following string:

In [306]:
letter_string = list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')


2. Which letter occurs the Least frequently?

3. How many vowels are in the Series?

4. How many consonants are in the Series?

5. Create a Series that has all of the same letters but uppercased.

6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [307]:
letter_string = pd.Series(letter_string)

In [308]:
letter_string

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

1. Which letter occurs the most frequently in the letters Series?

In [ ]:
#NUKE THIS SHIT BELOW

In [290]:
letter_string.value_counts().max()

1

In [291]:
letter_string = letter_string.apply(lambda x: pd.Series(list(x)))

In [284]:
letter_string

<bound method DataFrame.transpose of   0   1   2   3   4   5   6   7   8   9    ... 190 191 192 193 194 195 196  \
0   h   n   v   i   d   d   u   c   k   k  ...   y   e   c   u   p   r   o

  197 198 199
0   g   u   y

[1 rows x 200 columns]>

In [292]:
letter_string = letter_string.transpose()

In [293]:
letter_string

     0
0    h
1    n
2    v
3    i
4    d
..  ..
195  r
196  o
197  g
198  u
199  y

[200 rows x 1 columns]

In [302]:
letter_string.value_counts()

y    13
p    12
w    10
n     9
m     9
b     9
k     9
x     8
r     8
q     8
o     8
a     8
h     8
d     8
c     8
t     7
u     7
v     7
z     7
j     6
f     6
e     6
i     5
g     5
s     5
l     4
dtype: int64

In [303]:
letter_string.value_counts().max()

13